<!DOCTYPE HTML>
<html>
<head>
  <title>Home</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/fields.css">

  <link rel="icon" href="http://localhost:3000/favicon.ico">
</head>

<body>
  <!-- Wrapper -->
  <div class="head" id="header">
    <div class="row">
      <div class="col-md-12">
        <header class="header">
          <div class="inner">
            <!-- Logo -->
            <a href="#menu" class="nav-bars">
              <img src="/images/nav_icon.svg" class="img-responsive" alt="Collapsable Navbar">
            </a>
            <a href="main" class="logo">
              <span class="symbol"><img src="/images/logo.png" alt="Title"></span><span class="title">Landwirtschaft 9000</span>
            </a>
          </div>
        </header>
        <!-- Menu -->
        <nav id="menu">
          <h2>Menu</h2>
          <ul>
            <li><a href="main">Home</a></li>
            <li><a>Search</a></li>
            <li><a href="machines">Machinery</a></li>
            <li><a>Options</a></li>
            <li><a href="start">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <section class="container">
    <div class="honeycomb">
      <div class="hexes-1 column">
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">1</div>
            </div>
          </div>
          <span id="field-1" class="content"> <small>Feld 1</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">1</div>
            </div>
          </div>
          <span id="field-2" class="content"> <small>Feld 2</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">0</div>
            </div>
          </div>
          <span id="field-3" class="content"> <small>Feld 3</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">0</div>
            </div>
          </div>
          <span id="field-4" class="content"> <small>Feld 4</small> </span>
        </a>
      </div>
      <div class="hexes-2 column">
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">1</div>
            </div>
          </div>
          <span id="field-5" class="content"> <small>Feld 5</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">2</div>
            </div>
          </div>
          <span id="field-6" class="content"> <small>Feld 6</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">2</div>
            </div>
          </div>
          <span id="field-7" class="content"> <small>Feld 7</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">1</div>
            </div>
          </div>
          <span id="field-8" class="content"> <small>Feld 8</small> </span>
        </a>
      </div>
      <div class="hexes-3 column">
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">1</div>
            </div>
          </div>
          <span id="field-9" class="content"> <small>Feld 9</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">0</div>
            </div>
          </div>
          <span id="field-10" class="content"> <small>Feld 10</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">2</div>
            </div>
          </div>
          <span id="field-11" class="content"> <small>Feld 11</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">2</div>
            </div>
          </div>
          <span id="field-12" class="content"> <small>Feld 12</small> </span>
        </a>
      </div>
      <div class="hexes-4 column">
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">1</div>
            </div>
          </div>
          <span id="field-13" class="content"> <small>Feld 13</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">0</div>
            </div>
          </div>
          <span id="field-14" class="content"> <small>Feld 14</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">0</div>
            </div>
          </div>
          <span id="field-15" class="content"> <small>Feld 15</small> </span>
        </a>
        <a class="hex">
          <div class="wrapper">
            <div class="hexagon color-1">
              <div class="field-values hidden">1</div>
            </div>
          </div>
          <span id="field-16" class="content"> <small>Feld 16</small> </span>
        </a>
      </div>
    </div>
  </section>

  <section class="field-info">
    <div class="modal fade" id="modal-info" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <img id="field-crop" src="" width="75px" height="75px">
            <h4 id="field-name" style="padding-left: 20px;"></h4>
          </div>
          <div id="field-data" class="modal-body">
            <!-- USER FIELD DATA -->
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="optimization">
    <div class="panel panel-info">
      <div class="panel-body">
        <h4>Optimization</h4>
        <div id="opt-text">
          <div><%= title %></div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-default">Close</button>
      </div>
    </div>
  </section>

  <!-- Main
  <div class="row">

  </div>
  <div class="tiles">
    <div class="row">
      <div class="col-md-6">
        <div class="a">
          <a href="#test-popup-1" class="open-popup-link">
            <img src="/images/1.jpg" class="img-responsive" alt="Responsive image">
            <div class="img-hover glass">
              <div class="c-table">
                <div class="ct-cell">
                  <h3 class="img-title">Optimization</h3>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div id="test-popup-1" class="white-popup mfp-hide">
          <div class="container-fluid">
            <div class="row">
              <div class="pop-up-color">
                <div class="col-md-8 p-l-0 p-r-0">
                  <img src="/images/1.jpg" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-md-4">
                  <div>
                    <h2 class="popup-head">Glass</h2>
                  </div>
                  <div>
                    <p class="popup-parapraph">Do Stuff.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <section class="footer">
    <footer>
    </footer>
  </section>

  <!-- Scripts -->

  <script src="/js/jquery-3.1.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>

  <script src="/js/main.js"></script>

</body>
</html>
