	<!DOCTYPE HTML>
	<html>
		<head>

			<title>Tutorial</title>

			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
			<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
			
			<link rel="stylesheet" type="text/css" href="/stylesheets/tutorial.css">

		</head>

	<body>
		<div class="site-wrapper">
			
			<div class="modal fade" id="modal-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4><span class="glyphicon glyphicon-user"></span>Your Personal Data</h4>
						</div>
						<div class="modal-body">
							<form role="form">
								<div class="form-group">
									<label for="usrn"> Username</label>
									<input type="text" class="form-control" id="usrn" placeholder="Enter username">
								</div>
								<div class="form-group">
									<label for="hof"> Business Name</label>
									<input type="text" class="form-control" id="hof" placeholder="Enter business name">
								</div>
								<div class="form-group">
									<label for="loc"> Location</label>
									<input type="text" class="form-control" id="loc" placeholder="Enter location">            								
								</div>
								<div class="form-group">
									<label for="email"> Email</label>
									<input type="text" class="form-control" id="email" placeholder="Enter email">            								
								</div>
								<div class="form-group">
									<label for="psw"> Password</label>
									<input type="text" class="form-control" id="psw" placeholder="Enter password">            								
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button id="but-1" type="btn btn-default" data-dismiss="modal">Next</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modal-2" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4><span class="glyphicon glyphicon-user"></span>Crops</h4>
						</div>
						<div class="modal-body">
							<!-- FELDER  -->
						</div>
						<div class="modal-footer">
							<button id="but-2" type="btn btn-default" data-dismiss="modal">Next</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modal-3" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4><span class="glyphicon glyphicon-user"></span>Machinery</h4>
						</div>
						<div class="modal-body">
							<!-- Maschinen  -->
						</div>
						<div class="modal-footer">
							<button id="but-3" type="btn btn-default" data-dismiss="modal">Next</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modal-4" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4><span class="glyphicon glyphicon-user"></span>Watson</h4>
						</div>
						<div class="modal-body">
							<!-- Watson  -->
						</div>
						<div class="modal-footer">
							<button id="but-4" type="btn btn-default" data-dismiss="modal">Next</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modal-5" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4><span class="glyphicon glyphicon-user"></span>You are ready!</h4>
						</div>
						<div class="modal-body">
							<!-- ?  -->
						</div>
						<div class="modal-footer">
							<button id="but-5" type="btn btn-default" data-dismiss="modal">Ok</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/js/jquery-3.1.0.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/tutorial.js"></script>

	</body>
</html>